<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Buscar Usuario</title>
</head>
<body>
    
    <ul>
        <h1>Busqueda de Usuarios</h1>

        <form action="{% url 'usuario-search' %}" method="GET">
            <label name="buscar">Ingrese Nombre:</label>
            <input type="text" name="buscar">
            <input type="submit" value="Buscar">
        </form>
        {%for usuario in usuarios %}
        <li>{{usuario}}</li>
        
        {% endfor %}

    </ul>



</body>
</html>