<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <ul>
        <h4>Editar Usuario</h4>
        <form action="{% url 'usuario-edit' id=user.id %}" method="POST">
            {% csrf_token %}
            <label for="variable">Campo a editar:</label>
            <select name="variable" id="variable">
                <option value="nombre">Nombre</option>
                <option value="usuario">Usuario</option>
                <option value="contrasena">Contraseña</option>
                <option value="grupo">Grupo</option>
            </select>
            <br>
            <label for="nuevo">Nuevo valor:</label>
            <input type="text" name="nuevo" id="nuevo">
            <br>
            <input type="submit" value="Editar">
        </form>
        
</body>
</html>