<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <ul>
        <h4>Editar Usuario</h4>
                <form action="{% url 'usuario-edit' %}" method="GET">
                    <label name="variable">Campo a editar: </label>
                    <input type="text" name="variable">
                    <label name="nuevo">Nuevo valor: </label>
                    <input type="text" name="nuevo">
                    <input type="submit" value="Editar">
                </form>
                <li>Nombre: {user.nombre}</li>
                <li>Usuario: {user.usuario}</li>
                <li>Contraseña: {user.contrasena}</li>
                <li>Grupo: {user.grupo}</li>







</body>
</html>