{% extends "aplicacion/index.html" %} 
{% load static %}

{% block Titulo%} <title>Usuarios</title> {% endblock %}
    
{% block cuerpo_de_la_vista %}

<ul>
        <h4>Agregar un Usuario</h4>
                <form action="{% url 'usuario-create' %}" method="GET">
                    <label name="nombre">Nombre</label>
                    <input type="text" name="nombre">
                    <label name="usuario">Usuario</label>
                    <input type="text" name="usuario">
                    <label name="contrasena">Contraseña</label>
                    <input type="text" name="contrasena">
                    <label name="grupo">Grupo</label>
                    <input type="text" name="grupo">
                    <input type="submit" value="Agregar">
                </form>
        {% for usuario in usuarios %}
        <li>{{usuario}} 
            <a href="{% url 'usuario-delete' usuario.id %}">Borrar</a>
            <a href="{% url 'usuario-edit' usuario.id %}">Editar</a>
        </li>
        {% endfor %}
        <a href="{% url 'usuario-search' %}">Buscar</a>
    </ul>
{% endblock %}