{% extends "aplicacion/index.html" %} 
{% load static %}

{% block Titulo%} <title>Editar Publicacion</title> {% endblock %}
    
{% block cuerpo_de_la_vista %}
    <ul>
        <h4>Editar Grupo</h4>
        <form action="{% url 'publicacion-edit' id=publicacion.id %}" method="POST">
            {% csrf_token %}
            <label for="variable">Campo a editar:</label>
            <select name="variable" id="variable">
                <option value="usuario">Usuario</option>
                <option value="titulo">Titulo</option>
                <option value="cuerpo">Cuerpo</option>
            </select>
            <br>
            <label for="nuevo">Nuevo valor:</label>
            <input type="text" name="nuevo" id="nuevo">
            <br>
            <input type="submit" value="Editar">
        </form>
    </ul>
{% endblock %}