{% extends "aplicacion/index.html" %} 
{% load static %}

{% block Titulo%} <title>Buscar Publicacion</title> {% endblock %}
    
{% block cuerpo_de_la_vista %}
    <ul>
        <h1>Busqueda de Publicacion</h1>

        <form action="{% url 'publicacion-search' %}" method="GET">
            <label name="buscar">Ingrese Usuario de la publicacion:</label>
            <input type="text" name="buscar">
            <input type="submit" value="Buscar">
        </form>

        {%for publicacion in publicaciones %}
        
        <li>{{publicacion}}</li>
        
        {% endfor %}


    </ul>
    {% endblock %}