{% extends "aplicacion/index.html" %} 
{% load static %}

{% block Titulo%} <title>Buscar Grupo</title> {% endblock %}
    
{% block cuerpo_de_la_vista %}
    <ul>
        <h1>Busqueda de Grupo</h1>

        <form action="{% url 'grupo-search' %}" method="GET">
            <label name="buscar">Ingrese Grupo:</label>
            <input type="text" name="buscar">
            <input type="submit" value="Buscar">
        </form>
        {%for grupo in grupos %}
        <li>{{grupo}}</li>
        
        {% endfor %}


    </ul>
{% endblock %}