{% extends "aplicacion/index.html" %} 
{% load static %}

{% block Titulo%} <title>Grupo</title> {% endblock %}
    
{% block cuerpo_de_la_vista %}
    <ul>
        <h4>Agregar un Grupo</h4>
                <form action="{% url 'grupo-create' %}" method="GET">
                    <label name="nombre">Nombre</label>
                    <input type="text" name="nombre">
                    <label name="descripcion">Descripcion</label>
                    <input type="text" name="descripcion">
                    <input type="submit" value="Agregar">
                </form>
        
        
        {% for grupo in grupos %}
        <li>{{grupo}} 
            <a href="{% url 'grupo-delete' grupo.id %}">Borrar</a>
            <a href="{% url 'grupo-edit' grupo.id %}">Editar</a>
        </li>
        {% endfor %}
        <a href="{% url 'grupo-search' %}">Buscar</a>
    </ul>
{% endblock %}
